# ide
.idea
.vscode

# gradle
.gradle

# build
bin
build
node_modules
frontend/types
mysql-data
lynx-iberian-web.es.js

# node red
/node-red-data

# project files
/config
/storage
/plugins

# Development
docker-compose.yml