<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Lit-Element App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module" src="/app/lynx-iberian-web.es.js"></script>
</head>
<body class="d-flex flex-column" style="min-height: 100svh;">
<lynx-nav></lynx-nav>
<div class="flex-fill row m-0">
    <div class="col-md-3 col-lg-2 bg-dark text-light p-3">
        <a href="/" class="d-flex h4 p-1 text-light text-decoration-none">Buckets</a>
        <a href="/" class="d-flex h4 p-1 text-light text-decoration-none">Publishers</a>
    </div>
    <div class="col-md-9 col-lg-10 p-4">
        <lynx-buckets></lynx-buckets>
    </div>
</div>
</body>
</html>
